.funding-about-main
  width: 100%
  height: 100%
  background-color: $gold-color

.about-menu
  float: left
  height: 100%
  width: 15%

.about-content-container
  float: left
  width: 80%
  height: 90%
  background-color: white
  margin-top: 80px
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12)
  overflow: scroll

.about-content
  padding: 15px 0 0 0

  h1
    text-align: left
    margin-left: 20px
    color: black

.go-to-request-abt
  width: 70%
  height: 50px
  position: relative
  top: 48%
  // right: 15px
  margin-left: 15px
  border-style: solid
  border-width: 1px
  border-color: $cardinal-color
  background-color: $cardinal-color
  padding: 0px 10px 0 10px
  cursor: pointer
  h3
    margin-top: 13px
    color: $gold-color

.go-to-more-options-abt
  width: 70%
  height: 50px
  position: relative
  top: 50%
  // right: 15px
  margin-left: 15px
  border-style: solid
  border-width: 1px
  font-size: 13px
  border-color: $cardinal-color
  background-color: $cardinal-color
  padding: 0px 10px 0 10px
  cursor: pointer
  h3
    margin-top: 15px
    color: $gold-color

.about-left
  float: left
  width: 48%
  margin: 10px 0 10px 15px

  p
    margin-bottom: 10px

.about-right
  float: right
  width: 48%
  margin: 10px 10px 10px

  p
    margin-bottom: 10px
