.funding-options-main
  width: 100%
  height: 100%
  background-color: $gold-color
  display: none

.more-options-menu
  float: left
  height: 100%
  width: 15%

.more-options-content-container
  float: left
  width: 80%
  height: 90%
  margin-top: 80px
  overflow: scroll

.more-options-content
  padding: 15px 0 0 0

  h1
    text-align: left
    margin-left: 20px
    color: black

.go-to-about-opt
  width: 70%
  height: 50px
  position: relative
  top: 48%
  // right: 15px
  margin-left: 15px
  border-style: solid
  border-width: 1px
  border-color: $cardinal-color
  background-color: $cardinal-color
  padding: 0px 10px 0 10px
  cursor: pointer
  h3
    margin-top: 13px
    color: $gold-color

.go-to-request-opt
  width: 70%
  height: 50px
  position: relative
  top: 50%
  // right: 15px
  margin-left: 15px
  border-style: solid
  border-width: 1px
  border-color: $cardinal-color
  background-color: $cardinal-color
  padding: 0px 10px 0 10px
  cursor: pointer
  h3
    margin-top: 13px
    color: $gold-color

.more-options-links
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding-bottom: 80px
  margin-top: 15px

.more-options-link
  width: 300px
  height: 300px
  background-color: white
  margin: 0 20px 25px 20px
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12)
  cursor: pointer

  h1
    color: black
    position: relative
    font-size: 25px
    text-align: center
  p
    margin: 5px 10px 10px 10px
  &:hover
    position: relative
    top: -3px
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19)
  &:active
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12)
    top: +3px
